<launch>
  <arg name="csv_file" default="$(find week3_gazebo_task2)/data/task2_flight.csv"/>
  <arg name="bag_file" default="$(find week3_gazebo_task2)/data/task2_flight.bag"/>
  <arg name="record_bag" default="true"/>

  <node pkg="week3_gazebo_task2" type="task2_logger.py"
        name="task2_logger" output="screen" required="true">
    <param name="output_file" value="$(arg csv_file)"/>
    <param name="sample_hz" value="20.0"/>
  </node>

  <node if="$(arg record_bag)" pkg="rosbag" type="record" name="task2_rosbag"
        output="screen"
        args="-O $(arg bag_file) /mavros/local_position/pose /mavros/local_position/velocity_local /mavros/imu/data /mavros/state"/>
</launch>
